.venntooltip {
                    font-size : 14px;
                    position: absolute;
                    text-align: center;
                    width: 128px;
                    height: 25px;
                    background: #333;
                    color: #fff;
                    padding: 2px;
                    border: 0px;
                    border-radius: 8px;
                    opacity: 0;
               }

.mdl-grid {
  padding: 0!important;
}

.mdl-cell {
  padding: 10px 0;
  text-align: center;
  color: #424242;
}

/* Table */
.table th {
    cursor: pointer;
}

.table tr {
    cursor: pointer;
}

tr:hover { background-color: #cce6ff;}

.reactable-page-button {
     padding-right: 10px;
}

/* Model Table */
.ReactTable .-pagination{
     width:100%;
     display:-webkit-box;
     display:-moz-box;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:box;
     display:flex;
     -webkit-box-pack:justify;
     -moz-box-pack:justify;
     -o-box-pack:justify;
     -ms-flex-pack:justify;
     -webkit-justify-content:space-between;
     justify-content:space-between;
     -webkit-box-align:center;
     -moz-box-align:center;
     -o-box-align:center;
     -ms-flex-align:center;
     -webkit-align-items:center;
     align-items:center;
     -webkit-box-lines:multiple;
     -moz-box-lines:multiple;
     -o-box-lines:multiple;
     -webkit-flex-wrap:wrap;
     -ms-flex-wrap:wrap;
     flex-wrap:wrap;
     padding-top:3px;
}
.ReactTable .-pagination .-btn{
     -webkit-appearance:none;
     -moz-appearance:none;
     appearance:none;
     display:block;
     width:100%;
     border:0;
     border-radius:3px;
     padding:6px;
     font-size:1em;
     color:rgba(0,0,0,0.6);
     background:rgba(0,0,0,0.1);
     -webkit-transition:all 0.1s ease;
     -moz-transition:all 0.1s ease;
     -o-transition:all 0.1s ease;
     -ms-transition:all 0.1s ease;
     transition:all 0.1s ease;
     cursor:pointer;
     outline:none;
}
.ReactTable .-pagination .-btn[disabled]{
     opacity:.5;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
     filter:alpha(opacity=50);
     cursor:default
}

.ReactTable .-pagination .-btn:not([disabled]):hover{
     background:rgba(0,0,0,0.3);
     color:#fff
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-center,
.ReactTable .-pagination .-next{
     margin:3px 0
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next{
     -webkit-box-flex:1;
     -moz-box-flex:1;
     -o-box-flex:1;
     box-flex:1;
     -webkit-flex:1;
     -ms-flex:1;
     flex:1;
     text-align:center
}

.ReactTable .-pagination .-center {
     -webkit-box-flex:1.5;
     -moz-box-flex:1.5;
     -o-box-flex:1.5;
     box-flex:1.5;
     -webkit-flex:1.5;
     -ms-flex:1.5;
     flex:1.5;
     text-align:center;
     margin-bottom:0;
     display:-webkit-box;
     display:-moz-box;
     display:-webkit-flex;
     display:-ms-flexbox;
     display:box;
     display:flex;
     -webkit-box-orient:horizontal;
     -moz-box-orient:horizontal;
     -o-box-orient:horizontal;
     -webkit-flex-direction:row;
     -ms-flex-direction:row;
     flex-direction:row;
     -webkit-box-lines:multiple;
     -moz-box-lines:multiple;
     -o-box-lines:multiple;
     -webkit-flex-wrap:wrap;
     -ms-flex-wrap:wrap;
     flex-wrap:wrap;
     -webkit-box-align:center;
     -moz-box-align:center;
     -o-box-align:center;
     -ms-flex-align:center;
     -webkit-align-items:center;
     align-items:center;
     -webkit-box-pack:distribute;
     -moz-box-pack:distribute;
     -o-box-pack:distribute;
     -ms-flex-pack:distribute;
     -webkit-justify-content:space-around;
     justify-content:space-around;
}

.ReactTable .-pagination .-pageInfo{
     display:inline-block;
     margin:0 10px 3px;
     white-space:nowrap
}

.ReactTable .-pagination .-pageJump{
     display:inline-block;
}

.ReactTable .-pagination .-pageJump input{
     width:70px;
     text-align:center
}
